* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-image: url('../../pic/NewTraineeRegistration.jpg');
    background-size: cover;
    font-family: sans-serif;
}

tbody {
    width: 100%;
}

table {
    padding: 0 50px;
}

    table tr, td {
        margin: 2px 5px;
        padding: 3px 5px;
    }

h1 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    width: 180px;
}

select {
    width: 184px;
}

#msg {
    margin: 0 auto 31px auto;
    width: 80%;
    color: red;
}

.tittle {
    margin-top: 5px;
    color: rgba(255,255,255,0.9);
    font-size: 75px;
    font-family: 'Playfair Display', serif;
}

.bottom_slogen {
    color: rgba(255,255,255,1);
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.form-box {
    width: 600px;
    background: rgba(0,0,0,0.8);
    margin: 1% auto 1% auto;
    padding-top: 20px;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

/*.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .input-box input {
        width: 90%;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
    }*/

input[placeholder] {
    color: #cccccc;
}

.login-btn {
    margin-top: 20px;
    width: 48%;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.clear-user-btn {
    margin-top: 20px;
    width: 48%;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
