* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-image: url('../../pic/updateDetails.jpg');
    background-size: cover;
    font-family: sans-serif;
}

table {
    padding: 0 50px;
}

    table tr, td {
        margin: 5px;
        padding: 5px;
    }

h1 {
    text-align: center;
    margin-bottom: 40px;
}

#gender {
    width: 184px;
}

.tittle {
    margin-top: 5px;
    color: rgba(255,255,255,0.9);
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.bottom_slogen {
    color: rgba(255,255,255,0.4);
    text-align: center;
    margin-top: 30px;
}

.form-box {
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 1% auto 1% auto;
    padding: 30px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.login-btn {
    margin: 40px auto 20px;
    width: 48%;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.new-user-btn {
    margin: 40px auto 0;
    width: 48%;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

/*.answware {
    width: 220px;
    padding: 5px 3px;
}*/

input {
    width: 180px;
}
