* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-image: url('../../pic/LoginTrainee.jpg');
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

#msg {
    margin: 0 auto 31px auto;
    width: 80%;
    color: red;
}

.tittle {
    margin-top: 30px;
    color: rgba(255,255,255,0.9);
    font-size: 75px;
    font-family: 'Playfair Display', serif;
}

.bottom_slogen {
    color: rgba(255,255,255,1);
    margin-top: 80px;
}

.form-box {
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 40px auto 50px auto;
    padding: 20px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.input-box {
    margin: 31px auto 10px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .input-box input {
        width: 90%;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
    }

input[placeholder] {
    color: #cccccc;
}

.fa {
    margin-left: 10px;
}

.eye {
    position: absolute;
}

#hide1 {
    display: none;
}

.login-btn {
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.new-user-btn {
    margin: 40px auto 0;
    width: 20%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 12px;
}
